.icon-user{
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: block;
 	vertical-align: midle;
 	width:100%;
 	height:100%;
}
.biodata{
	margin-top:20px;
}
table.biodata_pelanggan{
	margin-left:50px;
	text-align: left;
	float:left;

}
.detail{
	margin-left:5px;
	margin-top:20px;
}
@media(max-width: 1080px){
	.icon-user{
	width:50%;
 	height:50%;
 	display: block;
 	vertical-align: midle;
 	margin:0 auto;
}
	.biodata{
	margin-left:0px;
	margin-top:20px;
}
}