/*----- NAVIGASI -----*/
.navbar-embossed > .navbar-collapse {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px !important;
}

.navbar-brand,
.navbar-nav > li > a {
    line-height: 67px;
    height: 65px;
    padding-top: 0;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-left: -20px;
}
.navbar-default {
    background-color: #3498DB;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px !important;
}

.navbar-embossed > .navbar-collapse {
    border-bottom: 0px solid #dcdcdc;
}