
/* NAVIGASI */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #EFEFEF;
}


.nav>li>a>img {
    display: block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-top: 10px;
    vertical-align: midle;
}


/*--- sidebar --*/
.btn-primary {
    background-color: #3498DB;
}

.btn-primary:hover {
    background-color: #17689E;
}

.menu {
    background-color: #EFEFEF;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-radius: 10px;
}

#form {
    margin-bottom: 20px;
}

.button {
    margin-bottom: 20px;
}

#button {
    margin-top: 100px;
}




/*----- warna  ---*/
.form-control:focus {
    border-color: #3498DB;
}

.checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
.radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
.checkbox input[type="radio"].custom-radio:checked + .icons .icon-checked,
.radio input[type="radio"].custom-radio:checked + .icons .icon-checked {
    color: #3498DB;
}

.select-primary .select2-choice {
    background-color: #3498DB;
}

.select-primary .select2-choice:hover,
.select-primary .select2-choice.hover,
.select-primary .select2-choice:focus,
.select-primary .select2-choice:active {
    background-color: #17689E;
}


